{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/grid.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
    <section style="margin: 2%">
        <div class="row">
            <div style="overflow-x: scroll">
                {{ grid(grid) }}
            </div>
        </div>
    </section>
{% endblock %}