{% block sonata_admin_content %}
    <a class="btn btn-sm" href="{{ admin.generateObjectUrl('clone', object) }}">Копировать</a>
    <a class="btn btn-sm" href="{{ admin.generateObjectUrl('edit', object) }}">Изменить</a>
    <a class="btn btn-sm" href="{{ admin.generateObjectUrl('delete', object) }}">Удалить</a>
{% endblock %}