{# src/Blogger/BlogBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}


{% block filter %}
    {% if filter_form is defined %}
        <div class="swiper-onSlider">
            <div class="shell shell-wide section-70 section-xl-top-200 section-xl-bottom-220">
                <div class="range range-xs-center">
                    <div class="cell-xl-6 cell-lg-9 cell-md-11">
                        <div data-type="horizontal"
                             class="responsive-tabs text-md-left nav-custom-dark view-animate fadeInUpSmall">
                            <div class="resp-tabs-container nav-custom-tab nav-custom-wide">

                                    {% include 'FlatbelFlatBundle:Page:filter.html.twig' with {'filter_form': filter_form} %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}